{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: #000;
    color: #fff;
}

.container{
    display: flex;
    height: 100vh;
}

.left{
    flex: 1;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1{
    font-size: 64px;
    font-weight:800;
    line-height: 1.1;
}

.subtitle{
    margin-top: 20px;
    font-size: 22px;
    opacity: 0.8;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

.right img{
  width: 70%;
  border-radius: 20px;
  object-fit: cover;    
}
