@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: #f3f4f6;
  background-color: #0a0a0a;
  font-family: system-ui, -apple-system, sans-serif;
}
